<div class="border-gray-200 border-b">
  <div class="container mx-auto flex justify-between items-center p-4">
    <h1 class="text-xl text-gray-800"><a href="/" aria-current="page">Kutty</a></h1>
    <div>
      <a href="/docs/" rel="prefetch"
        ><button
          class="bg-purple-700 hover:bg-purple-900 focus:bg-purple-900 border-purple-700 hover:border-purple-900 focus:border-purple-900 text-white select-none text-center align-middle font-medium relative overflow-hidden transition-colors duration-150 ease-in border-2 border-solid inline-block rounded-md w-auto opacity-100 pointer-events-auto cursor-pointer py-1 px-2 text-sm"
          role="button"
          type="button"
          tabindex="-1"
        >
          Documentation
        </button></a
      >
      <a
        href="https://github.com/praveenjuge/kutty"
        class="bg-gray-200 hover:bg-gray-400 focus:bg-gray-400 border-gray-200 hover:border-gray-400 focus:border-gray-400 text-gray-900 select-none text-center align-middle font-medium relative overflow-hidden transition-colors duration-150 ease-in border-2 border-solid inline-block rounded-md w-auto opacity-100 pointer-events-auto cursor-pointer py-1 px-2 text-sm"
        disabled="false"
        target="_blank"
        >GitHub</a
      >
    </div>
  </div>
</div>
