.alert {
  @apply font-medium relative overflow-hidden border-2 border-solid text-base rounded-md align-middle duration-150 ease-in flex items-start py-2 pl-4 pr-8;
}

.alert-close {
  @apply absolute top-0 bottom-0 right-0;
}

.alert-close svg {
  @apply mr-0 mt-0 !important;
}

.alert-sm {
  @apply py-1 pl-2 pr-10 text-sm !important;
}

.alert-lg {
  @apply py-5 pl-5 pr-12 text-lg !important;
}

.alert-description {
  @apply flex text-sm font-normal pr-8;
}

.alert svg {
  @apply h-5 w-5 mr-3;
  margin-top: 3px;
  max-width: 1.25rem;
  min-width: 1.25rem;
  max-height: 1.25rem;
  min-height: 1.25rem;
}

.alert-primary {
  @apply bg-purple-200 border-purple-200 text-purple-700;
}

.alert-success {
  @apply bg-green-200 border-green-200 text-green-800;
}

.alert-danger {
  @apply bg-red-200 border-red-200 text-red-700;
}

.alert-warning {
  @apply bg-yellow-200 border-yellow-200 text-yellow-800;
}

.alert-light {
  @apply bg-gray-200 border-gray-200 text-gray-900;
}

.alert-dark {
  @apply bg-gray-900 border-gray-900 text-white;
}

.alert-outline-primary {
  @apply border-current text-purple-700 bg-transparent;
}

.alert-outline-secondary {
  @apply border-current text-gray-700 bg-transparent;
}

.alert-outline-success {
  @apply border-current text-green-700 bg-transparent;
}

.alert-outline-danger {
  @apply border-current text-red-700 bg-transparent;
}

.alert-outline-warning {
  @apply border-current text-yellow-700 bg-transparent;
}

.alert-outline-light {
  @apply border-current text-gray-200 bg-transparent;
}

.alert-outline-dark {
  @apply border-current text-gray-900 bg-transparent;
}

.alert-solid-primary {
  @apply bg-purple-700 border-purple-700 text-white;
}

.alert-solid-success {
  @apply bg-green-700 border-green-700 text-white;
}

.alert-solid-danger {
  @apply bg-red-700 border-red-700 text-white;
}

.alert-solid-warning {
  @apply bg-yellow-600 border-yellow-600 text-white;
}

.alert-top {
  @apply border border-solid border-t-4 border-r-0 border-b-0 border-l-0 border-current rounded-none !important;
}

.alert-left {
  @apply border border-solid border-l-4 border-r-0 border-b-0 border-t-0 border-current rounded-none !important;
}

.alert-right {
  @apply border border-solid border-r-4 border-l-0 border-b-0 border-t-0 border-current rounded-none !important;
}

.alert-bottom {
  @apply border border-solid border-b-4 border-l-0 border-r-0 border-t-0 border-current rounded-none !important;
}
