.btn {
  @apply select-none text-center align-middle font-medium relative overflow-hidden transition-colors duration-150 ease-in border-2 border-solid inline-block py-1 px-4 text-base rounded-md w-auto opacity-100 pointer-events-auto cursor-pointer;
}

.btn-primary {
  @apply bg-purple-700 border-purple-700 text-white;
}

.btn-primary:hover,
.btn-primary:focus {
  @apply bg-purple-900 border-purple-900;
}

.btn-secondary {
  @apply bg-gray-600 border-gray-600 text-white;
}

.btn-secondary:hover,
.btn-secondary:focus {
  @apply bg-gray-800 border-gray-800;
}

.btn-success {
  @apply bg-green-700 border-green-700 text-white;
}

.btn-success:hover,
.btn-success:focus {
  @apply bg-green-900 border-green-900;
}

.btn-danger {
  @apply bg-red-700 border-red-700 text-white;
}

.btn-danger:hover,
.btn-danger:focus {
  @apply bg-red-900 border-red-900;
}

.btn-warning {
  @apply bg-yellow-600 border-yellow-600 text-white;
}

.btn-warning:hover,
.btn-warning:focus {
  @apply bg-yellow-800 border-yellow-800;
}

.btn-light {
  @apply bg-gray-200 border-gray-200 text-gray-900;
}

.btn-light:hover,
.btn-light:focus {
  @apply bg-gray-400 border-gray-400;
}

.btn-dark {
  @apply bg-gray-900 border-gray-900 text-white;
}

.btn-dark:hover,
.btn-dark:focus {
  @apply bg-gray-700 border-gray-700;
}

.btn-link {
  @apply bg-transparent border-transparent text-purple-800;
}

.btn-link:hover,
.btn-link:focus {
  @apply bg-gray-300 border-gray-300;
}

.btn-outline-primary {
  @apply border-purple-700 text-purple-700 bg-transparent;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus {
  @apply bg-purple-900 border-purple-900 text-white;
}

.btn-outline-secondary {
  @apply border-gray-600 text-gray-600 bg-transparent;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  @apply bg-gray-800 border-gray-800 text-white;
}

.btn-outline-success {
  @apply border-green-700 text-green-700 bg-transparent;
}

.btn-outline-success:hover,
.btn-outline-success:focus {
  @apply bg-green-900 border-green-900 text-white;
}

.btn-outline-danger {
  @apply border-red-700 text-red-700 bg-transparent;
}

.btn-outline-danger:hover,
.btn-outline-danger:focus {
  @apply border-red-900 text-white bg-red-900;
}

.btn-outline-warning {
  @apply border-yellow-600 text-yellow-600 bg-transparent;
}

.btn-outline-warning:hover,
.btn-outline-warning:focus {
  @apply border-yellow-800 text-white bg-yellow-800;
}

.btn-outline-light {
  @apply border-gray-200 text-gray-200 bg-transparent;
}

.btn-outline-light:hover,
.btn-outline-light:focus {
  @apply border-gray-400 text-gray-900 bg-gray-400;
}

.btn-outline-dark {
  @apply border-gray-900 text-gray-900 bg-transparent;
}

.btn-outline-dark:hover,
.btn-outline-dark:focus {
  @apply border-gray-900 text-white bg-gray-900;
}

.btn-outline-link {
  @apply border-transparent text-purple-800 bg-transparent;
}

.btn-outline-link:hover,
.btn-outline-link:focus {
  @apply border-gray-300;
}

.btn-pill {
  @apply rounded-full !important;
}

.btn-square {
  @apply rounded-none !important;
}

.btn-block {
  @apply w-full !important;
}

.btn-sm {
  @apply py-1 px-2 text-sm !important;
}

.btn-lg {
  @apply py-2 px-5 text-lg !important;
}

.btn-icon {
  @apply px-2 inline-flex justify-center items-center !important;
}

.btn-icon.btn-lg {
  @apply px-5 !important;
}

.btn-icon svg {
  @apply h-5 w-5 !important;
}

.btn-icon.btn-sm svg {
  @apply h-4 w-4 !important;
}

.btn-icon.btn-lg svg {
  @apply h-6 w-6 !important;
}

.btn:disabled {
  @apply opacity-25 pointer-events-none cursor-default !important;
}

.btn-loading {
  @apply opacity-75 pointer-events-none cursor-default !important;
}

.btn-list {
  @apply -mb-2;
}

.btn-list .btn {
  @apply mb-2;
}

.btn-list > .btn:not(:last-child) {
  @apply mr-1;
}

.btn-twitter {
  @apply text-white;
  background-color: #1da1f2;
  border-color: #1da1f2;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background-color: #0c80c7;
  border-color: #0c80c7;
}

.btn-google {
  @apply text-white;
  background-color: #4285f4;
  border-color: #4285f4;
}

.btn-google:hover,
.btn-google:focus {
  background-color: #1d61d2;
  border-color: #1d61d2;
}

.btn-youtube {
  @apply text-white;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-youtube:hover,
.btn-youtube:focus {
  background-color: #b10505;
  border-color: #b10505;
}

.btn-instagram {
  @apply text-white;
  background-color: #e1306c;
  border-color: #e1306c;
}

.btn-instagram:hover,
.btn-instagram:focus {
  background-color: #bf134d;
  border-color: #bf134d;
}

.btn-github {
  @apply text-white;
  background-color: #333;
  border-color: #333;
}

.btn-github:hover,
.btn-github:focus {
  background-color: #000;
  border-color: #000;
}

.btn-twitch {
  @apply text-white;
  background-color: #6441a5;
  border-color: #6441a5;
}

.btn-twitch:hover,
.btn-twitch:focus {
  background-color: #3c1f71;
  border-color: #3c1f71;
}

.btn-slack {
  @apply text-white;
  background-color: #611f69;
  border-color: #611f69;
}

.btn-slack:hover,
.btn-slack:focus {
  background-color: #3e0d44;
  border-color: #3e0d44;
}

.btn-linkedin {
  @apply text-white;
  background-color: #0077b5;
  border-color: #0077b5;
}

.btn-linkedin:hover,
.btn-linkedin:focus {
  background-color: #044d73;
  border-color: #044d73;
}

.btn-facebook {
  @apply text-white;
  background-color: #3b5998;
  border-color: #3b5998;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background-color: #1c3467;
  border-color: #1c3467;
}
